.Logo{
    height: 55px;
    width: 165px;
    border-radius: 5px;
}
.heading{
    font-family: Arial;
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 1px;
}
.Description{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96,96,96);
    width: 270px;
    margin-top: 1px;
}
.subscribers{
    color: rgb(96,96,96);
    font-family: Arial;
    font-size: 14px;
    margin-top: 0px;

}
.Link{
    margin-right: 8px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.15s;
    margin-bottom: 0px;
}
.Link:hover{
    color: blue;
}
.Title{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    margin-bottom: 5px;
    
}
.Views{
    font-family: Arial;
    font-size: 14px;
    margin-top: 0px;
    
}
.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
   padding-top: 10px;
   padding-bottom: 10px;
    margin-right: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
                
}
.subscribe-button:hover{
    opacity: 0.8;
}
.subscribe-button:active{
    opacity: 0.6;
}
.join-button{
    background-color: white;
    color: rgb(41, 118, 211);
    padding-top: 9px;
    padding-bottom:9px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    border-radius: 2px;
    margin-right: 8px;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.15s,
     color 0.15s;
}
.join-button:hover{
    background-color: rgb(41, 118, 211);
    color:white;
}
.join-button:active{
    opacity: 0.6;
}
